{% extends 'index.html' %}

{% block content %}
<div class="card shadow">
  <div class="card-header" style="background-color:mediumslateblue">
    <h1 align="center"> <font color="white">Registro de Requisições</font></h1>
  </div>
  <div class="card-body">
    <table class="table table-striped" align="center">
      <thead align="center">
        <tr>
          <th>Data Requisição</th>
          <th>Nome do Requerente</th>
          <th>Nome da Loja</th>
        </tr>
      </thead>
      <tbody>
        {% for r in context.requisicoes %}
        <tr>
          <td align="center">{{ r.data_requisicao }}</td>
          <td align="center">{{ r.nome_funcionario }}</td>
          <td align="center">{{ r.nome_loja }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div> 
{% endblock %}
