{% extends 'index.html' %}

{% block content %}
<div class="card shadow">
  <div class="card-header">
    <h1 align="center">Registro de Requisições</h1>
  </div>
  <div class="card-body">
    <table class="table table-striped" align="center">
      <thead align="center">
        <tr>
          <th>Data Requisição</th>
          <th>Nome do Requerente</th>
          <th>Nome da Loja</th>
          <th>Nome do Líder</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td align="center">31-08-2019</td>
          <td align="center">Fulano de Tal</td>
          <td align="center">Starbucks</td>
          <td align="center">Ciclano Silva</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> 
{% endblock %}
